@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #034078;
  --bg-color: #F8F9FA;
  --bg-color-top-card: linear-gradient(135deg, rgba(18, 130, 162, 1) 0%, rgba(3, 64, 120, 1) 100%);
  --generic-text-color: #ffff;
  --generic-text-color-black: #0a0a0a;
  --bg-color-bar-chart: linear-gradient(135deg, rgba(58, 65, 111, 1) 0%, rgba(20, 23, 39, 1) 100%);
  --bg-color-bar-chart-axe: #c1c1c1;
  --bg-cards-color: var(--generic-text-color);
  --areachar-color: #8884d8;
  --areachar-color-gradient: background: linear-gradient(135deg, 0%, rgba(255,255,255,1) 100%);
  --info-color: #007BFF;

}

body {
  background-color: var(--bg-color);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

p,span {
  font-size: 0.8rem;
}

input {
  color: var(--generic-text-color-black);
}
input[type="checkbox"]{
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid var(--info-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  min-height: 15px;
  min-width: 15px;
  font-size: 10px;
}
input[type="checkbox"]:checked {
  transition: 1s;
  background-color: var(--info-color); /* Color de fondo cuando está clicado */
}
input[type="checkbox"]:checked:after {
 content: '✔';
 font-weight: bold;
 color: #FFFF;
}
.bg-color-top-card {
  background: var(--bg-color-top-card);
}

.bg-color-bar-chart {
  background: var(--bg-color-bar-chart);
}

.bg-cards-color {
  background: var(--bg-cards-color);
}

.areachar-color-gradient{
  background: var(--areachar-color-gradient);
}