@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/**********************************************************************
    GLOBAL
 **********************************************************************/
:root {
  --primary-color: #7986CB;
  --secondary-color: #c7d2fe;
  --accent-color: #4DD0E1;
  --bg-color: #F8F9FA;
  --bg-color-top-card: linear-gradient(135deg, rgba(159, 168, 218, 1) 0%, rgba(121, 134, 203, 1) 100%);
  --generic-text-color: #FFFFFF;
  --generic-text-color-black: #37474F;
  --color-axe: #B0BEC5;
  --areachar-color-gradient: linear-gradient(135deg, rgba(77, 208, 225, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

body {
  background-color: var(--bg-color);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

h3 {
  font-size: 1rem;
  color: var(--primary-color);
}

p,
span, h4, select, input, th, td {
  font-size: 0.8rem;
  color: var(--generic-text-color-black);
}

input {
  color: var(--generic-text-color-black);
  outline: none;
}

input[type="checkbox"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  min-height: 15px;
  min-width: 15px;
  font-size: 10px;
}

input[type="checkbox"]:checked {
  transition: 1s;
  background-color: var(--secondary-color);
  /* Color de fondo cuando está clicado */
}

input[type="checkbox"]:checked:after {
  content: '✔';
  font-weight: bold;
  color: #FFFF;
}

/* Para navegadores basados en WebKit (Chrome, Edge, Safari, Opera) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  color: var(--generic-text-color-black);
  border: 1px solid var(--secondary-color);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
}

button:hover {
  transition: 1s;
  background-color: var(--secondary-color);
}


select {
  color: var(--generic-text-color-black);
  border: 1px solid var(--secondary-color);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
/**********************************************************************
    DASHBOARD
 **********************************************************************/
.bg-color-top-card {
  background: var(--bg-color-top-card);
}

.bg-color-bar-chart {
  background: var(--bg-color-bar-chart);
}

.areachar-color-gradient {
  background: var(--areachar-color-gradient);
}

/**********************************************************************
    REPOSITORY
 **********************************************************************/
/*Min Max Input Range*/

.horizontal-slider {
  width: 50%;
  margin: 0 auto;
  height: 4px;
  background-color: #f2f2f2;
}

.example-track.example-track-0 {
  height: 4px;
  background-color: #f2f2f2;
}

.example-track.example-track-1 {
  height: 4px;
  background-color: var(--secondary-color);
}


.thumb-with-value {
    position: relative;
    top: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    background: var(--secondary-color);
    border-radius: 50%;
    cursor: pointer;
}

.value-label {
    position: absolute;
    top: -25px;
    background: white;
    color: #333;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra opcional */
}
